:host(.miniVersion) img {
    object-fit: cover;
    object-position: 92% 25%;
    width: 170px;
    height: 240px;
}

// img {
//     object-fit: cover;
//     width: auto;
//     height: auto;
// }
.under {
    position: absolute;
    z-index: 1;
}

.over {
    position: absolute;
    z-index: 2;
}

.overtext {
    position: relative;
    z-index: 3;
}