:host(.miniVersion) img{
  object-fit: cover;
  width: 350px;
  height: 484px;
}

.image {
    position: relative;
    width: 100%;
}

h1 {
    color: white;
    padding: 10px;
    position: absolute;
    top: 190px;
    left: 20;
}

h2 {
    color: white;
    padding: 30px;
    position: absolute;
    top: 450px;
}