<div id="Main">
    <h3>SOCIAL MEDIA POST TEMPLATE</h3>
    <h4>SALES</h4>
    <nav>
        <a routerLink="/component1" routerLinkActive="active">
            <div class="mini">
                <app-component1></app-component1>
            </div>
        </a>
        <a routerLink="/component2" routerLinkActive="active">
            <div class="mini">
                <app-component2></app-component2>
            </div>
        </a>
        <a routerLink="/component3" routerLinkActive="active">
            <div class="mini">
                <app-component3></app-component3>
            </div>
        </a>
        <a routerLink="/component4" routerLinkActive="active">
            <div class="mini">
                <app-component4></app-component4>
            </div>
        </a>
        <a routerLink="/component5" routerLinkActive="active">
            <div class="mini">
                <app-component5></app-component5>
            </div>
        </a>
        <a routerLink="/component6" routerLinkActive="active">
            <div class="mini">
                <app-component6></app-component6>
            </div>
        </a>
        <a routerLink="/component7" routerLinkActive="active">
            <div class="mini">
                <app-component7></app-component7>
            </div>
        </a>
        <a routerLink="/component8" routerLinkActive="active">
            <div class="mini">
                <app-component8></app-component8>
            </div>
        </a>
    </nav>
</div>