#Body {
    background-color: gray;
    text-align: center;
    width: 1300px;
    height: 600px;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: absolute;
}

.mainDiv {
    width: 350px;
    height: 450px;
    margin: 10px;
    float: left;
}

.mini {
    width: 170px;
    height: 220px;
    background-color: darkgray;
    // display: inline-block;
    float: left;
    margin: 10px;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}